<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Validate Data</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../../assets/img/favicon.png" rel="icon" />
    <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../../assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../../assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../../assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="../../assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link
      href="../../assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- Template Main CSS File -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Arsha
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="../index.html">DEA</a></h1>
      </div>
    </header>
    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="../index.html">Home</a></li>
            <li>Validate Data</li>
          </ol>
          <h2>Validate Data</h2>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <section class="inner-page">
        <div id="DataTable">
          <div id="table_box_bootstrap"></div>
          <table>
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Job Title</th>
                <th>Favorite Color</th>
                <th>Wars or Trek?</th>
                <th>Secret Alias</th>
                <th>Date of Birth</th>
                <th>Dream Vacation City</th>
                <th>GPA</th>
                <th>Arbitrary Data</th>
              </tr>
            </thead>
            <tbody class="scroll-pane">
              <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
                <td>Trek</td>
                <td>Digby Green</td>
                <td>January 13, 1979</td>
                <td>Gotham City</td>
                <td>3.1</td>
                <td>RBX-12</td>
              </tr>
              <tr>
                <td>The</td>
                <td>Tick</td>
                <td>Crimefighter Sorta</td>
                <td>Blue</td>
                <td>Wars</td>
                <td>John Smith</td>
                <td>July 19, 1968</td>
                <td>Athens</td>
                <td>N/A</td>
                <td>Edlund, Ben (July 1996).</td>
              </tr>
              <tr>
                <td>Jokey</td>
                <td>Smurf</td>
                <td>Giving Exploding Presents</td>
                <td>Smurflow</td>
                <td>Smurf</td>
                <td>Smurflane Smurfmutt</td>
                <td>Smurfuary Smurfteenth, 1945</td>
                <td>New Smurf City</td>
                <td>4.Smurf</td>
                <td>One</td>
              </tr>
              <tr>
                <td>Cindy</td>
                <td>Beyler</td>
                <td>Sales Representative</td>
                <td>Red</td>
                <td>Wars</td>
                <td>Lori Quivey</td>
                <td>July 5, 1956</td>
                <td>Paris</td>
                <td>3.4</td>
                <td>3451</td>
              </tr>
              <tr>
                <td>Captain</td>
                <td>Cool</td>
                <td>Tree Crusher</td>
                <td>Blue</td>
                <td>Wars</td>
                <td>Steve 42nd</td>
                <td>December 13, 1982</td>
                <td>Las Vegas</td>
                <td>1.9</td>
                <td>Under the couch</td>
              </tr>

              <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
                <td>Trek</td>
                <td>Digby Green</td>
                <td>January 13, 1979</td>
                <td>Gotham City</td>
                <td>3.1</td>
                <td>RBX-12</td>
              </tr>
              <tr>
                <td>The</td>
                <td>Tick</td>
                <td>Crimefighter Sorta</td>
                <td>Blue</td>
                <td>Wars</td>
                <td>John Smith</td>
                <td>July 19, 1968</td>
                <td>Athens</td>
                <td>N/A</td>
                <td>Edlund, Ben (July 1996).</td>
              </tr>
              <tr>
                <td>Jokey</td>
                <td>Smurf</td>
                <td>Giving Exploding Presents</td>
                <td>Smurflow</td>
                <td>Smurf</td>
                <td>Smurflane Smurfmutt</td>
                <td>Smurfuary Smurfteenth, 1945</td>
                <td>New Smurf City</td>
                <td>4.Smurf</td>
                <td>One</td>
              </tr>
              <tr>
                <td>Cindy</td>
                <td>Beyler</td>
                <td>Sales Representative</td>
                <td>Red</td>
                <td>Wars</td>
                <td>Lori Quivey</td>
                <td>July 5, 1956</td>
                <td>Paris</td>
                <td>3.4</td>
                <td>3451</td>
              </tr>
              <tr>
                <td>Captain</td>
                <td>Cool</td>
                <td>Tree Crusher</td>
                <td>Blue</td>
                <td>Wars</td>
                <td>Steve 42nd</td>
                <td>December 13, 1982</td>
                <td>Las Vegas</td>
                <td>1.9</td>
                <td>Under the couch</td>
              </tr>
              <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
                <td>Trek</td>
                <td>Digby Green</td>
                <td>January 13, 1979</td>
                <td>Gotham City</td>
                <td>3.1</td>
                <td>RBX-12</td>
              </tr>
              <tr>
                <td>The</td>
                <td>Tick</td>
                <td>Crimefighter Sorta</td>
                <td>Blue</td>
                <td>Wars</td>
                <td>John Smith</td>
                <td>July 19, 1968</td>
                <td>Athens</td>
                <td>N/A</td>
                <td>Edlund, Ben (July 1996).</td>
              </tr>
              <tr>
                <td>Jokey</td>
                <td>Smurf</td>
                <td>Giving Exploding Presents</td>
                <td>Smurflow</td>
                <td>Smurf</td>
                <td>Smurflane Smurfmutt</td>
                <td>Smurfuary Smurfteenth, 1945</td>
                <td>New Smurf City</td>
                <td>4.Smurf</td>
                <td>One</td>
              </tr>
              <tr>
                <td>Cindy</td>
                <td>Beyler</td>
                <td>Sales Representative</td>
                <td>Red</td>
                <td>Wars</td>
                <td>Lori Quivey</td>
                <td>July 5, 1956</td>
                <td>Paris</td>
                <td>3.4</td>
                <td>3451</td>
              </tr>
              <tr>
                <td>Captain</td>
                <td>Cool</td>
                <td>Tree Crusher</td>
                <td>Blue</td>
                <td>Wars</td>
                <td>Steve 42nd</td>
                <td>December 13, 1982</td>
                <td>Las Vegas</td>
                <td>1.9</td>
                <td>Under the couch</td>
              </tr>
              <tr>
                <td>James</td>
                <td>Matman</td>
                <td>Chief Sandwich Eater</td>
                <td>Lettuce Green</td>
                <td>Trek</td>
                <td>Digby Green</td>
                <td>January 13, 1979</td>
                <td>Gotham City</td>
                <td>3.1</td>
                <td>RBX-12</td>
              </tr>
              <tr>
                <td>The</td>
                <td>Tick</td>
                <td>Crimefighter Sorta</td>
                <td>Blue</td>
                <td>Wars</td>
                <td>John Smith</td>
                <td>July 19, 1968</td>
                <td>Athens</td>
                <td>N/A</td>
                <td>Edlund, Ben (July 1996).</td>
              </tr>
              <tr>
                <td>Jokey</td>
                <td>Smurf</td>
                <td>Giving Exploding Presents</td>
                <td>Smurflow</td>
                <td>Smurf</td>
                <td>Smurflane Smurfmutt</td>
                <td>Smurfuary Smurfteenth, 1945</td>
                <td>New Smurf City</td>
                <td>4.Smurf</td>
                <td>One</td>
              </tr>
              <tr>
                <td>Cindy</td>
                <td>Beyler</td>
                <td>Sales Representative</td>
                <td>Red</td>
                <td>Wars</td>
                <td>Lori Quivey</td>
                <td>July 5, 1956</td>
                <td>Paris</td>
                <td>3.4</td>
                <td>3451</td>
              </tr>
              <tr>
                <td>Captain</td>
                <td>Cool</td>
                <td>Tree Crusher</td>
                <td>Blue</td>
                <td>Wars</td>
                <td>Steve 42nd</td>
                <td>December 13, 1982</td>
                <td>Las Vegas</td>
                <td>1.9</td>
                <td>Under the couch</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span></span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
          Developed by <a href="https://bootstrapmade.com/">DEA</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- Vendor JS Files -->
    <script src="../../assets/vendor/aos/aos.js"></script>
    <script src="script.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../../assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../../assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
